
:root{
    --white: #ffffff;
    --black: #000000;
    --grey: hsl(213, 9%, 39%);
    --light_grey: #888;
    --morelight_grey: #bbb;
    --dark_blue: hsl(243, 87%, 12%);
    --orange:#ce5a07;
    --purple: hsl(238, 22%, 44%);
    --dark_green: hsl(170, 45%, 23%);
    --light_green: hsl(170, 45%, 43%);
    --blue: hsl(224, 93%, 38%);
    --light_blue: hsl(224, 93%, 58%);
    --green: #218838;
}

* {
    font-family:'Quattrocento', serif;
    overflow-x: hidden;

}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-size: 20px;
    color: var(--white);
    background-color: var(--black);

}

.menu {
    z-index: 999;
    position: fixed;
    //border: 3px var(--white) solid;
    //border-radius:10px;
    width: 97.7%;
    overflow: hidden;
    background-color: var(--dark_blue);
    padding: 20px 20px;
}

.menu a {
    float: left;
    color: var(--white);
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

.menu a.logo {
    font-size: 25px;
    font-weight: bold;
}


.menu a:hover {
    background-color: transparent;
    color: var(--white);
}

.menu a.active {
    background-color: var(--green);
    color: var(--black);
}


.right-menu {
    float: right;
}


.menu-toggle {
    display: none;
}

.up-text {
    color: var(--white);
    top: 30%;
    font-size: 30px;
    position: absolute;
    padding-left: 12%;

}


.text {
    font-size: 50px;
    padding-right: 30%;
    padding-top: 3%;
    float: left;
    padding-left: 7%;
}

.middlepicture {
    width: 100%;
}


.section1 {
    padding-top: 3%;
    padding-left: 7%;
    font-size: 30px;

}

.left-side {
    display: inline-block;
    margin-right: 60%;
    position: absolute;


}

.right-side {
    display: inline-block;
    float: right;

}

#right-pick {
    float: right;
    width: 60%;
}


.button{
    color: var(--white);
    border-style: none;
    border-radius: 5px;
    top: 63%;
}

.section2 {
    margin-top: 3%;
    text-align: center;
}

.section2 h2 {
    font-size: 50px;
}

.box {
    display: inline-block;
    text-align: center;
    width: 500px;
    font-size: 30px;
    margin: 2%;
}


#img1, #img2, #img3 {
    border-radius: 50%;
    width: 15%;
    height: 20%;
}


.section3 {
    position: relative;
    border: solid 0px;
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 30%;
}

.idk {
    margin-top: 7%;
    margin-right: 15%;
    margin-left: 15%;
}

.about {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 7%;
    font-size: 30px;
}

.enhance {
    margin-top: 10%;
    text-align: center;
    font-size: 30px;
}

.map {
    margin-top: 10%;
    filter: invert(90%) hue-rotate(180deg);
}



@media screen and (max-width: 840px) {
    .menu a {
        float: none;
        display: block;
        text-align: left;
    }
    .right-menu {
        float: none;
    }

    .menu-toggle {
        background: none;
        border: none;
        display: inline-block;
        color: var(--white);

    }

    .section1 {
        text-align: center;
        float: none;
    }

    .menu .right-menu {
        display: none; /* Skrýt menu na začátku */
    }

    .menu .right-menu.show {
        display: block; /* Zobrazit menu, když má třídu 'show' */
    }

    .fa-bars {
        margin-left: 20%;
        font-size: 20px;
        color: var(--white);
    }

    .text {
        font-size: 30px;
        float: none;
        padding: unset;
        text-align: center;
        margin-left: 8%;
        margin-right:8%;
    }
    .about {
        padding: unset;
        margin-left: 8%;
        margin-right:8%;
    }
    .enhance {
        padding: unset;
        margin-left: 8%;
        margin-right:8%;
    }
    .section2 {
        margin-left: 8%;
        margin-right:8%;
    }
    .box {
        width: auto;
    }

    .section3 {
        margin-right: 6%;
    }

    .about {
        text-align: center;
    }


}

@media screen and (max-width: 975px) {
    .section1 {
        display: inline-block;
    }
    .left-side {
        position: relative;
        padding: unset;
        margin-left: 8%;
        margin-right:8%;
    }
    .right-side {
        margin-top: 5%;
        position: relative;
        float: none;
        text-align: center;
    }
    #right-pick {
        float: none;
    }
}
